# If node is installed with nix, that global install won't work
# unless we set global path at home folder, since Nix
# store is immutable
# https://nixos.wiki/wiki/Node.js#Using_npm_install_-g_fails
# https://docs.npmjs.com/cli/v8/configuring-npm/npmrc
prefix=${HOME}/.npm-global
